
<link rel='stylesheet' type='text/css' href='main.css' />


  {{#if currentUser}}

  <div class="bg-primary" id="about">
  <div class="container">
      <div class="row" id="info">
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading">Welcome Back!!</h2>
              <hr class="light">
              <p class="text-faded">We here at Music corner are dedicated to making you the best Musician that you can be... Through the power community at large! Whether you're beginner or advanced, a teacher or student, you can always learn or contribute here something from here!</p>
              <a href="/post-new" target="_blank" class="btn btn-default btn-xl">Show us something Awesome!</a>
          </div>
      </div>
  </div>
  </div>
</br>
</br>
  <div class="row">
    {{#posts}}
    <div class="col-sm-8 col-sm-offset-2">
      <li class="list-group-item">
        <a href="/posts/{{this._id}}" class="lead">{{this.title}}</a>
      </br>
        <p>Submitted by {{this.author.username}}<p>
        <a href="{{this.url}}" target="_blank">{{this.videoUrlurl}}<a>
          <div class="text-right">
          <a href="/n/{{this.category}}">{{this.category}}<a>
        </div>
        <form class="vote-up" data-id="{{post._id}}">
          <button type="submit">Vote Up</button>
        </form>

        <form class="vote-down" data-id="{{post._id}}">
          <button type="submit">Vote Down</button>
        </form>
      </li>
    </div>

      {{/posts}}
  {{else}}
  <div class="row" id ="cards">
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <img class="card-img-top" src="singer1.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">
                <p class="center-text">Post Your Talent!</p>
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <img class="card-img-top" src="singer2.jpg" alt="" >
            <div class="card-body">
              <h4 class="card-title">
                <p class= "center-text2" >Get FeedBack!</p>
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <img class="card-img-top" src="singer3.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">
                <p class="center-text3">Improve!</p>
              </h4>
            </div>
          </div>
        </div>
      </div>
        <div class="bg-primary" id="about">
        <div class="container">
            <div class="row" id="info">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Welcome to Musiq Corner</h2>
                    <hr class="light">
                    <p class="text-faded">We here at Music corner are dedicated to making you the best Musician that you can be... Through the power community at large! Whether you're beginner or advanced, a teacher or student, you can always learn or contribute here something from here!</p>
                    <a href="/signup" target="_blank" class="btn btn-default btn-xl">Sign up!</a>
                </div>
            </div>
        </div>
    </div>

      {{/if}}

</div>
